* {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.container-fluid {
    display: grid;
    margin: 0;
    padding: 0;
}

header.hero {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.ill-hero img {
    position: absolute;
    right: 0;
    top: 16px;
    width: 700px;
}

.text-heading {
    width: 50%;
    margin-top: 206px;
    margin-left: 70px;
}

.text-heading img {
    width: 500px;
}

.text-heading p.text-p {
    font-size: 30px;
    font-weight: normal;
    color: #3F3B3E;
    margin-left: 5px;
    margin-top: 0;

}

button.btn-donation {
    background-color: #B551FF;
    height: 80px;
    width: 346px;
    border-radius: 10px;
    font-size: 36px;
    font-weight: 400;
    color: #FFFDFF;
    border: none;
    margin-left: 5px;
    /* box-shadow: 5px 5px 5px #9141CC; */
}

.btn-donation:hover {
    transform: translateY(-0.25em);
    box-shadow: 10px 10px 10px #9141CC;
    background-color: #ECD5FD;
    color: #B551FF;
}

section.vektor-il {
    display: flex;
    width: 100%;
    justify-content: end;
}

.vektor-il img {
    position: absolute;
    width: 600px;
    right: 0px;
    top: 326px;
    z-index: -1;
}

section.main-content {
    display: grid;
    position: absolute;
    z-index: -9;
    margin-top: 269px;
    width: 100%;
    height: 3405px;
    background: #CC59AA;
    box-shadow: inset -300px 0px 250px #AF2F89;
    padding: 232px 0;
    justify-content: center;
}

.main-content .report {
    display: grid;
    column-gap: 18px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    height: 120px;
    align-content: center;
    justify-content: center;
}

.report a {
    text-decoration: none;
}

.report .item-report {
    position: relative;
    display: grid;
    padding: 33px 6px;
    align-items: center;
    background-color: #ECD5FD;
    border-radius: 10px;
    width: 270px;
    grid-template-columns: 100px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    /* grid-gap: 5px; */
}
.item1 {
    grid-column-start: 1;
    grid-column-end: 4;
    top: 36px;
    color: #797779;
    font-size: 16px;
    font-weight: 400;
}

.item-report > div {
    /* border: solid; */
    position: absolute;
}

.item-report .item3{

    display: grid;
    color: #3F3B3E;
    font-weight: 700;
    font-size: 24px;
    width: 147px;
    height: 36px;
    left: 43px;
    top: 55px;
}

.item-report .item2 {
    color: #3F3B3E;
    font-weight: 400;
    font-size: 18px;
    width: 28px;
    height: 27px;
    top: 60px;
    left: 6px;
}

.item-report .item4 {
    width: 30px;
    height: 30px;
    right: 6px;
    top: 48px;

}

/* Form-donasi */

.berdonasi .page-berdonasi {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: #CC59AA;
    box-shadow: inset -300px 0px 250px rgba(175, 47, 137, 0.25);
}

.form-nominal {
    display: grid;
    border-radius: 10px;
    width: 500px;
    height: 430px;
    margin-top: 120px;
    background-color: white;
    padding: 22px 90px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    justify-content: center;
}

.form-header p {
    color: rgba(121, 119, 121, 1);
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0;
}

.form-header h3 {
    font-size: 24px;
    font-weight: 400;
    color: rgba(2, 2, 2, 1);
    margin-bottom: 0;
}


.form-nominal .pilihan-donasi {
    display: flex;
    width: 150px;
    height: 50px;
    background: #F9ACE2;
    border: 1px solid #9141CC;
    box-sizing: border-box;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}

.pilihan-donasi a {
    text-decoration: none;
    color: rgba(63, 59, 62, 1);
}

.form-nominal .input-donasi {
    border: 1px solid #9141CC;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 10px;
    width: 320px;
    height: 110px;
}

.input-donasi p {
    font-size: 10px;
    font-weight: 400;
    color: #8D92A3;
    ;
}


.input input {
    width: 83%;
    height: 41px;
    background: #F3F2F2;
    border-radius: 8px;
    text-align: right;
    padding: 10px;
    border: none;
}

.input span {
    border: none;
    background: #F3F2F2;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 400;
}

.input label {
    font-size: 16px;
    font-weight: 400;
}

button.btn-lanjut-donate {
    background-color: #B551FF;
    height: 50px;
    width: 300px;
    border-radius: 10px;
    font-size: 24px;
    font-weight: 400;
    color: #FFFDFF;
    border: none;
    margin-left: 5px;
    /* box-shadow: 5px 5px 5px #9141CC; */
}

.btn-lanjut-donate:hover {
    transform: translateY(-0.25em);
    box-shadow: 10px 10px 10px #9141CC;
    background-color: #ECD5FD;
    color: #B551FF;
}